@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-principal: #ff4141;
    --cor-principal-hover: #db2d2d;
    --cor-clara:#fff;
    --cor-escura:#252525;
    --cor-cinza:#bebebe;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*-----------login--------*/
#login{
height: 100vh;
background-image: url('../img/pizza.jpg');
background-size: cover;
}

.titulo-login{
     font-size: 25pt;
     padding:20px;
     text-align: center;



}
.fundo{
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 40px auto;
    border-radius: 10px;
    padding: 15px;
    font-size: 20pt;

}
/*------------fim do login --------*/

 /*-----------Configurações de formularios-------*/
 .campo{
    margin-bottom: 15px ;
 }



 .campo input{
    width: 100%;
    padding: 8px 15px;
    border: 1px solid color #888;
    border-radius: 5px;
}

.btn{
    font-size: 20pt;
    border:none;
    background-color: var(--cor-principal);
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;

}
a.btn{
    text-decoration: none;

}
.btn:hover{
    background-color: var(--cor-principal-hover);
}

.btn-block{
    display: block;
    width: 100%;
   
}
/*--------fim-----_*/

/*--------cabeçalho-------*/
.cabecalho{
    width: 100%;
    padding:0px 15px;
    background-color: var(--cor-escura);
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-clara);
    top: 0;
}

.cabecalho .nome-sistema{
    font-size: 18pt;
    color: var(--cor-clara);
}

/*---------fim do cabeçalho----*/

/*--------conteudo------*/
.conteudo{
    margin: 90px auto;
    width: 900px;
}

/*-----------FIMCONTEUDO---------*/
.menu-principal{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
}

.menu-principal.btn{
    margin: 0px 4px;
}

/*-----------titulopágina--------*/
.titulo-pagina{
    text-align: center;
    text-transform: uppercase;
    font-size: 19pt;
    padding: 15px 0px;
    background-color: var(--cor-cinza);

}
/*----------fimtitulopagina--------*/

/*----------tabela-----------*/
.tabela{
    border-collapse: collapse;
    width: 100%;
}

.tabela,td, th {
    border: 1px solid var(--cor-escura);

}

td, th{
    padding: 8px 15px;
}  
/*----------fim da tabela-------*/

/*-----------Formulario---------*/
.campo-form{
    padding-top: 15px;
    width: 100%;
}

.campo-form input, .campo-form select{
    width: 100%;
    font-size: 15pt;
    padding: 5px 15px;
}

/*-----------fim formulario-------*/